<div class="container">
    <div class="header">
        <h2 style="margin-left: 15px;">My Cart</h2>
    </div>
    <div class="cart" *ngFor="let book of cartBooks">
        <div class="flex">
            <img src={{book.bookImage}} alt="book image" class="img">
            <div class="content">
                <span class="new-title">{{book.bookName}}</span><br>
                <span><strong>Author: </strong> {{book.author}}<br>
                <strong>Rs </strong>{{book.bookPrize}}</span><br>
                <span style="flex: 1 1 auto;"></span>
                <div class="inc-dec">
                    <button mat-icon-button class="dec" (click)="decrement(book.bookId)">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <span>{{book.quantity}}</span>
                    <button mat-icon-button class="inc" (click)="increment(book.bookId)">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
            <span style="flex: 1 1 auto;"></span>
            <div class="newbutton-flex">
                <button mat-raised-button class="Order" (click)="placeOrder(book.bookId)" style="margin-right: 10px;">Order</button>
                <button mat-raised-button class="Remove" (click)="removeFromCart(book.bookId)">Remove</button>
            </div>
        </div>
    </div>
</div>
