<div class="container">
    <mat-card class="myCart">
        <div class="image">
            <img src="assets/images/Image 13.png" alt="image" class="bookimg">
        </div>
        <div>
            <div class="content">
                <h2 class="title"><strong>Book Title</strong></h2>
                <span><strong>Author: </strong>sarvesh pednekar</span><br>
                <span><strong>Prize: </strong>45677</span><br>
                <span><strong>quantity:</strong> 56</span><br>
            </div>
            <span style="flex: 1 1 auto;"></span>
            <div class="button-flex">
                <button mat-raised-button color="primary">Order</button>
            </div>
        </div>

    </mat-card>
    <mat-card class="myCart">
        <div class="image">
            <img src="assets/images/Image 13.png" alt="image" class="bookimg">
        </div>
        <div>
            <div class="content">
                <h2 class="title"><strong>Book Title</strong></h2>
                <span><strong>Author: </strong>sarvesh pednekar</span><br>
                <span><strong>Prize: </strong>45677</span><br>
                <span><strong>quantity:</strong> 56</span><br>
            </div>
            <span style="flex: 1 1 auto;"></span>
            <div class="button-flex">
                <button mat-raised-button color="primary">Order</button>
            </div>
        </div>

    </mat-card>
</div>
