<div class="container">
    <h1>Sign-in</h1>
    <div class="form"> 
        <form action="">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>username</mat-label>
                <input type="text" matInput>
                <mat-icon matSuffix>user</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>password</mat-label>
                <input type="password" matInput>
                <mat-icon matSuffix>user</mat-icon>
            </mat-form-field>
            <button mat-raised-button class="button">Continue</button>
        </form>
    </div>
</div>
<div class="divider-container">
    <div class="divider">
        <div class="line"><mat-divider></mat-divider></div>
        <div class="text mat-typography">New to Book Store App?</div>
        <div class="line"><mat-divider></mat-divider></div>
    </div><br>
    <button mat-raised-button class="create-button" routerLink="/register">Create your BookStore account</button>
</div>
