<div class="container">
    <h1>Create Account</h1>
    <form [formGroup]="registerForm">
        <div class="form register">
            <mat-label>Register as:</mat-label>
            <mat-radio-group color="primary" style="margin-left: 12px;" formControlName="register">
                <mat-radio-button value="1">Buyer</mat-radio-button>
                <mat-radio-button value="2">Seller</mat-radio-button>
            </mat-radio-group>
            <button mat-icon-button color="primary" style="margin-left: 12px;" (click)="insert()">
                <mat-icon>check_circle_outline</mat-icon>
            </button>
        </div>
    </form><br>
    <mat-divider></mat-divider><br>

    <div class="form" *ngIf="buyer">
        <form [formGroup]="buyerForm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input type="text" matInput  formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Mobile number</mat-label>
                <input type="text" matInput formControlName="mobileNo">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Email Id</mat-label>
                <input type="text" matInput formControlName="emailId">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Address</mat-label>
                <textarea name="" id="" cols="30" rows="4" matInput type="text" formControlName="address"></textarea>
            </mat-form-field>
            <div class="location">
                <div class="items">
                    <mat-label>City</mat-label>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <select placeholder="select city" matNativeControl required formControlName="city">
                            <option value="default">select city</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Pune">Pune</option>
                            <option value="Thane">Thane</option>
                            <option value="Nashik">Nashik</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Bengaluru">Bengaluru</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="items">
                    <mat-label>State</mat-label>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <select matNativeControl required formControlName="state" placeholder="select state">
                            <option value="default">select state</option>
                            <option value="Maharashtra">MH</option>
                            <option value="Tamil nadu">TN</option>
                            <option value="Karnataka">KN</option>
                            <option value="Andra pradesh">AP</option>
                            <option value="Madhya pradesh">MP</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>ZipCode</mat-label>
                <input type="text" matInput formControlName="zipCode">
            </mat-form-field>
        </form><br>
        <h5>Verification mail will be sent to regsitered mail id</h5>
        <button mat-raised-button class="button" (click)="onSubmitBuyer()">Continue</button>
    </div>
    <div class="form" *ngIf="seller">
        <form [formGroup]="sellerForm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Book Name</mat-label>
                <input type="text" matInput formControlName="bookName">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Author Name</mat-label>
                <input type="text" matInput formControlName="author">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Prize</mat-label>
                <input type="text" matInput formControlName="bookPrize">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Quantity</mat-label>
                <input type="text" matInput formControlName="quantity">
            </mat-form-field>
        </form>
        <div>
            <input type="file" (change)="onFileSelected($event)">
        </div><br>
        <h5>Verification mail will be sent to regsitered mail id</h5>
        <button mat-raised-button class="button" (click)="onSubmitSeller()">Continue</button>
    </div>
</div>
