<div class="container">
    <mat-card class="myCard">
        <h3 style="margin: 0px;">Lean UX</h3>
        <img src="assets/images/Image 13.png" alt="Photo of a book" class="myImage">
        <span>Author: sarvesh pednekar</span>
        <span>prize: 5000 rs</span>
        <span>Quantity: 50</span>
        <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
    </mat-card>
    <mat-card class="myCard">
        <h3 style="margin: 0px;">Design everyday</h3>
        <img src="assets/images/Image 12@2x.png" alt="image" class="myImage">
        <span>Author: sarvesh pednekar</span>
        <span>prize: 4000 rs</span>
        <span>Quantity: 40</span>
        <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
    </mat-card>
</div>
