<div class="container">
    <ng-container>
        <mat-card class="myCard">
            <h3 class="title"><strong>LEAN UX</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 13.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>DESIGN EVERYDAY</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 12@2x.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>UX DESIGN</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 10@2x.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>UX DESIGN</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 10@2x.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>DESIGN EVERYDAY</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 12@2x.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>UX DESIGN</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 10@2x.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>LEAN UX</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 13.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>DESIGN EVERYDAY</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 12@2x.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
        <mat-card class="myCard">
            <h3 class="title"><strong>LEAN UX</strong></h3>
            <div class="myImage">
                <img src="assets/images/Image 13.png" alt="image" class="bookimg">
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px">
                <span><strong>Author:</strong>sarvesh pednekar</span><br>
                <span><strong>prize:</strong> 4000 rs</span><br>
                <span><strong>Quantity:</strong> 40</span><br>
            </div>
            <!-- <p style=" overflow: hidden;text-overflow: ellipsis;"><strong>Description:</strong>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Dolore officiis magni hic maxime, commodi consectetur quibusdam odit debitis 
                pariatur quaerat nam cumque quis excepturi a obcaecati! Expedita ipsa sequi animi.</p> -->
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button style="background-color: rgb(74, 74, 212);">Add to cart</button>
        </mat-card>
    </ng-container>
</div>
