<div class="container">
    <ng-container>
        <div *ngFor="let book of books">
            <mat-card class="myCard">
                <h3 class="title"><strong>{{book.bookName | uppercase}}</strong></h3>
                <div class="myImage">
                    <img src={{book.bookImage}} alt="image" class="bookimg">
                </div>
                <div style="margin-top: 4px; margin-bottom: 4px">
                    <span><strong>Author:</strong> {{book.author}}</span><br>
                    <span><strong>prize:</strong> {{book.bookPrize}} rs</span><br>
                    <span><strong>Quantity:</strong> {{book.quantity}}</span><br>
                </div>
                <span style="flex: 1 1 auto;"></span>
                <button mat-raised-button class="button-bgclr" (click)="addToCart(book.bookId)">Add to cart</button>
            </mat-card>
        </div>
    </ng-container>
</div>

