.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    padding: 30px;
    display: flex;
    /* border: 2px solid rgb(196, 190, 190); */
    flex-wrap: wrap;
}

.example-card {
    max-width: 150px;
    margin: 30px;
}
  
.myImage {
    /* border: 2px solid black; */
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9dede;
    border-radius: 2px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 100%;
}

.title {
    text-align: left;
    font: normal normal normal 18px/20px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-bottom: 4px;
    border: 1px solid rgb(191, 183, 183);
    border-radius: 2px;
    word-wrap: break-word;
    background-color: whitesmoke;
}

.myCard {
    margin: 30px;
    width: 200px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 195, 195);
    border-radius: 2px;
    
}

.bookimg {
    height: 100%;
    
}

.myCard img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.button-bgclr {
    background-color: rgb(74, 74, 212);
}
